<?xml version="1.0" encoding="utf-8"?>
<Settings>
	<Groups>
		<!-- Example xml structure for custom jobs, you can create as many groups with jobs as you want here -->
	  <Group name="My Food Bag">
	    <Jobs>
	      <Job id="WwwMyfodbagCoNz_Build" />
	      <Job id="UxMyfoodbagCoNz_Build" />
	      <Job id="AdminMyfoodbag_Build" />
	      <Job id="AccountsMyfoodbag_Build" />
	    </Jobs>
	  </Group>
    
    <Group name="Bargain Box">
			<Jobs>
				<Job id="OrderBargainboxCoNz_Build" />
			  <Job id="WwwBargainboxCoNz_Build" />
			  <Job id="MyBargainboxCoNz_Build" />
			  <Job id="GatewayBargainboxCoNz_Build" />
			</Jobs>
		</Group>

    <Group name="Shared">
      <Jobs>
        <Job id="Tools_BrokenLinkCheck" />
        <Job id="CoreMyfoodbag_Build" />
      </Jobs>
    </Group>
	</Groups>
</Settings>